@{
}

<div class="bg-secondary bg-opacity-10 mb-5 py-2">
	<div class="container">
		<h1>Udalosti</h1>
	</div>
</div>

<div class="container pb-5 mb-2">
	<a asp-area="" asp-controller="Events" asp-action="Add">
		Nova Udalost
	</a>
</div>