@model StolovkyZilina.Models.ViewModels.AdminLanguagesViewModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>Jazyky - Admin</h1>
		<p>Zoznam jazykov, ktoré sa môžu vyskytnúť na herných komponentoch alebo pravidlách hier.</p>
	</div>
</div>

<div class="container py-5">
	<table class="table">
		<thead>
			<tr>
				<th>Jazyk</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<form method="post">
			<tr>
				<td><input type="text" class="form-control" id="displayName" asp-for="DisplayName" /></td>
				<td>
					<div class="d-flex container">
						<button type="submit" class="btn btn-primary">Pridat</button>
					</div>
				</td>
			</tr>
			</form>
			@foreach (var lang in Model.Languages)
			{
				<tr>
					<td>@lang.LanguageName</td>
					<td>
						<div class="d-flex container">
							<form method="get" asp-area="" asp-controller="AdminLanguages" asp-action="Edit" asp-route-id="@lang.Id">
								<button class="btn btn-outline-primary me-2" type="submit">Upravit</button>
							</form>

							<form method="get" asp-area="" asp-controller="AdminLanguages" asp-action="Delete" asp-route-id="@lang.Id">
								<button class="btn btn-outline-danger" type="submit">Odstranit</button>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
