@{
    ViewData["Title"] = "O nas";
}


<div class="container col-xxl-10 px-4 py-5">
    <div class="row allign-items-center g-5 py-5">
        <div class="col-12 col-lg-10">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                StolovkyZilina - herna skupina
            </h1>
            <p class="lead">

                Welcome to the Board Game Community!

                Discover a world of endless fun, strategy,
                and camaraderie with our passionate board game enthusiasts.
                Whether you're a seasoned player or just starting your tabletop journey,
                our community is the perfect place to connect, learn, and play.
            </p>
            <p>
                Join us to:
            </p>
            <p>
                Explore a Diverse Collection: Dive into our extensive library of board games, from classic favorites to the latest releases. There's something for everyone, no matter your taste or experience level.
            </p>
            <p>
                Connect with Fellow Gamers: Forge new friendships and build lasting connections with like-minded gamers. Share tips, strategies, and experiences with our vibrant community.
            </p>
            <p>
                Stay Informed: Stay up-to-date with the latest board game news, reviews, and trends. Our community members are always in the know and ready to share their insights.
            </p>
            <p>
                Host or Join Events: Whether you want to organize a game night or join one, our community offers various opportunities to play together. Find local events or join virtual game sessions from the comfort of your home.
            </p>
            <p>
                Learn and Improve: Elevate your board game skills with tutorials, strategy guides, and expert advice. We're here to help you become a board game master.
            </p>
            <p class="lead">
                Join the Board Game Community today and embark on an exciting journey through the world of tabletop gaming. Let the dice roll and the cards shuffle as you make memories and friendships that will last a lifetime. Start your adventure now!
            </p>
        </div>
    </div>
</div>
