@{
	ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row g-0">
        <div class="col-6">
            <img src="~/Resources/Images/news2.jpeg" class="img-fluid">
        </div>
        <div class="col-6 d-flex align-items-center text-center p-lg-5">
            <h1 class="fw-bold">Zostaň aktualizovaný o dianí v skupine</h1>
        </div>
        <div class="col-6 d-flex align-items-center text-center p-lg-5">
            <h1 class="fw-bold">Pravidelné, organizované herné stretnutia</h1>
        </div>
        <div class="col-6">
            <img src="~/Resources/Images/event.jpeg" class="img-fluid">
        </div>
        <div class="col-6">
            <img src="~/Resources/Images/gameShelf.jpeg" class="img-fluid">
        </div>
        <div class="col-6 d-flex align-items-center text-center p-lg-5">
            <h1 class="fw-bold">Preskúmaj našu hernú kolekciu</h1>
        </div>
        <div class="col-6 d-flex align-items-center text-center p-lg-5">
            <h1 class="fw-bold">Nájdi spoluhráčov na tvoje obľúbené hry</h1>
        </div>
        <div class="col-6">
            <img src="~/Resources/Images/invite.jpeg" class="img-fluid">
        </div>
        <div class="col-6">
            <img src="~/Resources/Images/vinner.jpeg" class="img-fluid">
        </div>
        <div class="col-6 d-flex align-items-center text-center p-lg-5">
            <h1 class="fw-bold">Si súťaživý typ? Porovnaj svoje výsledky s ostatnými hráčmi!</h1>
        </div>
        <div class="col-6 d-flex align-items-center text-center p-lg-5">
            <h1 class="fw-bold">Spoznaj nových ľudí</h1>
        </div>
        <div class="col-6">
            <img src="~/Resources/Images/group.jpeg" class="img-fluid">
        </div>
    </div>
</div>
