
@{
}

<div class="bg-secondary bg-opacity-10 mb-5 py-2">
    <div class="container">
        <h1>Spoluhráči</h1>
        <p>Nájdi hráčov so spoločnými záujmami</p>
        <p class="text-danger">WIP<p>
    </div>
</div>